@media screen and (min-width: 1600px) {
  .header-actions {
    width: 100%;
  }
  body .b2b {
    min-height: 1080px;
    background: url("../images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  body .b2b-aligment{
    min-height: 1080px;
  }
}

@media screen and (min-width: 1400px){
  .b2b {
    min-height: 850px;
    background: url("../images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .b2b-aligment{
    min-height: 850px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .w-41{
    padding-left: 30px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
  .packages-proposal-3{
    .w-48{
      width: 48%;
    }
  }
  .smaller-text{
    font-size: 22px;
  }
  .smaller{
    font-size: 12px;
  }
}

@media screen and (max-width: 1300px){
  .tech-item {
    padding: 40px 22px;
  }
  .delivery-item {
    width: 148px;
    height: 148px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1199px){
  .header-actions {
    width: 100%;
}
}

@media screen and (max-width: 1199px){

  .tech-item img{
    max-width: 100%;
  }
  .delivery-item {
    width: 110px;
    height: 110px;
  }
  .delivery .blackRegular36{
    font: 25px Montserrat-Black,sans-serif;
    line-height: 32px;
  }
  .b2b .blackRegular20 {
    font: 18px OpenSans-Regular,sans-serif;
  }
  .delivery .blackRegular20 {
    font: 15px OpenSans-Regular,sans-serif;
  }
  .delivery .w-41{
    padding-left: 22px;
  }
  footer .blue-link{
    padding: 17px 31px;
  }
}

@media screen and (max-width: 991px){
  .b2b-aligment{
    min-height: 927px;
  }
  .resp-proposal{
    height: auto;
  }
  .resp-includes{
    height: 100%;
  }
  .slider{
    display: flex;
    overflow: auto;
    padding-left: 38px;
  }
  .last-slider{
    padding-right: 38px;
  }
  .packages-item{
    width: 303px;
    border: 1px solid #d9e2e9;
  }
  .packages-proposal-1,
  .packages-proposal-2,
  .packages-proposal-3{
    border-right: 1px solid #D9E2E9;
  }
  .packages-item .packages-proposal-1,
  .packages-item .packages-proposal-2,
  .packages-item .packages-proposal-3,
  .packages-item .package-name{
    width: inherit;
  }
  .slick-list .slick-slide{
    width: auto !important;
  }
  .tech-item {
  padding: 27px 22px;
}
  .themeDesign .img-size{
    text-align: right;
  }
  .themeDesign img{
    width: 510px;
    height: 250px;
  }
  .themeDesign {
    min-height: 615px;
  }
  .b2b .whiteRegular32{
    font: 24px OpenSans-Regular,sans-serif;
    line-height: 33px;
  }
  .b2b .blueBold48{
    font-size: 36px;
    line-height: 44px;
  }
  .b2b {
    min-height: 927px;
  }
  .placement{
    width: 43%;
  }
  .placement-btn{
    width: fit-content;
    text-align: right;
  }
  .justify{
    justify-content: center;
    margin-top: 48px;
  }
  .header-actions {
    bottom: -49px;
  }
  .delivery .w-51{
    width: 100%;
  }
  .delivery .w-41{
    width: 54%;
    margin: 0 auto;
  }
  .delivery-item {
    width: 174px;
    height: 132px;
  }
  .delivery .w-41 h3{
    text-align: center;
    width: 290px;
    margin: 0 auto;
  }
  .delivery .w-41 .blackRegular20{
    text-align: center;
  }
  .delivery::before {
    left: -9px;
    top: -22px;
  }
  .integration {
    min-height: 488px;
  }
  .absolute-integration {
    top: 92%;
  }
  .intergration-text {
    left: 41%;
  }
  .api-width {
     width: 577px;
  }
  .api .mt-150 {
    margin-top: 220px;
  }
  .marketplaces .w-47{
    width: 100%;
  }
  .market-width{
    margin: 0 auto;
    text-align: center;
  }
  .marketplaces .w-47 .blackRegular20{
    width: 559px;
    margin: 0 auto;
    text-align: center;
  }
  .marketplace-img{
    text-align: center;
    margin-top: 60px;
  }
  .reverse{
    flex-direction: column-reverse;
  }
  footer .w-51{
    width: 90%;
  }
  .absolute-img {
    position: absolute;
    top: -495%;
    left: 42%;
  }
  .absolute-contacts{
    position: relative;
  }
  .email-wid{
    width: 50%;
  }
}

@media screen and (min-width: 576px) and (max-width: 991px){
  .delivery .pr-110{
    padding-right: 0;
  }
}

@media screen and (max-width: 575px) {
  .delivery .w-41 h3 {
    text-align: center;
    width: 200px;
    margin: 0 auto;
  }
  .themeDesign img {
    width: 325px;
    height: 160px;
  }
  .integration.mt-112{
    margin-top: 45px;
  }
  .b2b-aligment {
    min-height: 521px;
}
  .pack:before {
    content: "";
    background: url(../images/pack.png);
    position: absolute;
    left: -17px;
    top: -6px;
    width: 36px;
    background-size: contain;
    height: 24px;
    z-index: -1;
}

  .resp-actions{
    padding: 20px 0;
  }
  .b2b .whiteRegular32 {
    font: 16px OpenSans-Regular, sans-serif;
    font-style: normal;
    line-height: 22px;
    color: #fff;
  }
  .b2b .mt-80 {
    margin-top: 58px;
  }
  .b2b .blueBold48 {
    font: 24px Montserrat-Black, sans-serif;
    line-height: 29px;
  }
  .b2b {
    min-height: 483px;
    background-position: 56% 100%;
  }
  .header-actions .blackRegular20 {
    font-size: 14px;
    line-height: 19px;
  }
  .header-actions {
    position: absolute;
    bottom: -133px;
    text-align: center;
  }
  .placement {
    width: 75%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .justify {
    justify-content: center;
    margin-top: 35px;
  }
  .placement-btn {
    margin: 59px auto 0;
  }
  .vendor-width{
    margin: 150px auto 75px;
  }
  .abs-img-wid{
    width: 304px;
  }
  .abs-img-wid img{
    max-width: 100%;
  }
  .text-wid {
    width: 75%;
  }
  .intergration-text {
    left: 0;
}
  .tech-item img {
    max-width: 100%;
    height: 60px;
    width: 66px;
    padding: 25px 10px;
  }
  .tech-item {
    padding: 0;
  }
  .integration .whiteRegular36 {
    font: 18px Montserrat-Black,sans-serif;
    line-height: 22px;
    font-weight: 900;
}
.integration .whiteRegular20 {
  font: 14px OpenSans-Regular,sans-serif;
  line-height: 19px;
}
.intergration-text{
  width: auto;
}
.intergration-text p{
  width: 270px;
  text-align: center;
  margin: 0 auto;
}
.integration {
  min-height: 351px;
}
.api.mt-150 {
  margin-top: 100px;
}
.marketplaces .w-47 .blackRegular20 {
  width: 100%;
}
.resp-carousel-text .blackRegular36{
  font: 18px Montserrat-Black,sans-serif;
  line-height: 22px;
  width: 200px;
    margin: 0 auto;
}
.resp-carousel-text .packages-width {
  width: auto;
}
.resp-carousel-text .blackRegular20 {
  font: 14px OpenSans-Regular,sans-serif;
  line-height: 19px;
}
.resp-carousel-text .contact-link {
  font: 14px OpenSans-Bold,sans-serif;
  line-height: 19px;
}
.crm{
  width: 208px;
    text-align: center;
    margin: 0 auto;
}
.crm::before {
  left: -10px;
  top: -10px;
  width: 36px;
  height: 35px;
}
  .cms{
    font: 18px Montserrat-Black, sans-serif;
    line-height: 22px;
    width: initial;
  }
  .customAndCms {
    top: 93px;
    position: relative;
  }
  .cms::before {
    left: 40px;
    top: -33px;
  }
  .customAndCms .blackRegular20 {
    font: 14px OpenSans-Regular, sans-serif;
    line-height: 19px;
    width: 89%;
  }
  .customAndCms .my-90 {
    margin: 50px 0;
  }
  .themeDesign {
    top: 93px;
    position: relative;
  }
  .img-size {
    width: 325px;
    height: 160px;
  }
  .theme-text-width .whiteRegular36 {
    font: 18px Montserrat-Black, sans-serif;
    line-height: 22px;
    text-align: center;
    width: 69%;
    margin: 0 auto;
  }
  .theme:before {
    left: 13px;
    top: -5px;
    width: 36px;
    background-size: cover;
    height: 26px;
  }
  .themeDesign .whiteRegular20 {
    font: 14px OpenSans-Regular, sans-serif;
    line-height: 19px;
    text-align: center;
  }
  .themeDesign {
    min-height: 380px;
  }
  .multi-vendor .blackRegular36 {
    font: 18px Montserrat-Black, sans-serif;
    line-height: 22px;
    text-align: center;
    width: 69%;
    margin: 60px auto 20px;
  }
  .vendor::before {
    background: url(../images/vendor.png);
    width: 36px;
    height: 36px;
    left: 7px;
    top: -15px;
    background-size: contain;
  }
  .multi-vendor .blackRegular20,
  .api .blackRegular20,
  .marketplaces .blackRegular20{
    font: 14px OpenSans-Regular,sans-serif;
    line-height: 19px;
    text-align: center;
  }
  .delivery .w-41,
  .delivery .w-51{
    width: 100%;
  }
  .delivery .pr-110{
    padding-right: 0;
  }
  .delivery .blackRegular36 {
    font: 18px Montserrat-Black,sans-serif;
    line-height: 22px;
    font-weight: 900;
    width: 62%;
    text-align: center;
    margin: 0 auto;
  }
  .delivery::before {
    width: 36px;
    height: 29px;
    left: 0;
    top: -10px;
  }
  .delivery .blackRegular20{
    font: 14px OpenSans-Regular,sans-serif;
    line-height: 19px;
    text-align: center;
  }
  .delivery-item {
    width: 82px;
    height: 62px;
    position: relative;
  }
  .delivery-item img{
    max-width: 100%;
    padding: 15px;
  }
  .api-width{
    width: fit-content;
  }
  .linkPosition{
    margin: 70px auto 0;
  }
  .openProposal{
    width: 100%;
  }
  .absolute-img {
    position: absolute;
    top: -451%;
    left: -33%;
}
  .api-api::before {
    left: -23px;
    top: -13px;
    background-size: cover;
    width: 36px;
    height: 33px;
  }
  .api .blackRegular36{
    font: 18px Montserrat-Black, sans-serif;
    line-height: 22px;
    width: fit-content;
  }
  .marketplaces .w-47{
    width: 100%;
  }
  .marketplace-img{
    width: 100%;
    img{
      max-width: 100%;
    }
  }
  .marketplaces .blackRegular36{
    font: 18px Montserrat-Black, sans-serif;
    line-height: 22px;
    width: 51%;
    text-align: center;
    margin: 0 auto;
  }
  .act-wid{
    width: 100%;
  }
  footer {
    padding: 20px 0;
    overflow: hidden;
  }
  footer .whiteRegular36 {
    font: 18px Montserrat-Black,sans-serif;
    line-height: 22px;
  }
  .projects{
    flex-direction: column;
  }
  footer .whiteRegular14{
    font: 12px OpenSans-Regular,sans-serif;
    line-height: 16px;
  }
  footer .whiteBold18 {
    font: 14px Montserrat-Black,sans-serif;
    line-height: 17px;
  }
  .contact-item{
    margin-bottom: 20px;
  }
  //.slider::-webkit-scrollbar {
  //  -webkit-appearance: none;
  //}
  //
  //.slider::-webkit-scrollbar:vertical {
  //  width: 11px;
  //}
  //
  //.slider::-webkit-scrollbar:horizontal {
  //  height: 11px;
  //}
  //
  //.slider::-webkit-scrollbar-thumb {
  //  border-radius: 8px;
  //  border: 2px solid white; /* should match background, can't be transparent */
  //  background-color: rgba(0, 0, 0, .5);
  //}

}

@media screen and (max-width: 359px){
  .img-size {
    width: 300px;
    height: 160px;
}
.delivery-item {
  width: 72px;
}
.delivery .w-41 h3 {
  width: 273px;
}
.marketplaces .blackRegular36 {
  width: 54%;
}
.packages-item {
  width: 264px;
}
.action {
  margin: 15px 0;
}
}